<!--Jake Waksmanski-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Listing</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/addListing.css}" />
</head>
<body>
    <header th:replace="fragments :: header(showButton=true)"></header>
    <div class="add-listing-container">
        <h1>New Listing</h1>
        <div class="add-listing-form-container">
            <form th:action="@{/properties/add}" th:object="${property}" method="post" enctype="multipart/form-data" class="add-listing-form">
                <div class="add-listing-images">
                    <div th:if="${property.propertyImages == null or property.propertyImages.isEmpty()}">
                        <p>No images uploaded yet.</p>
                    </div>
                    <div th:if="${property.propertyImages != null and !property.propertyImages.isEmpty()}" th:each="img : ${property.propertyImages}" class="property-image-container">
                        <img th:src="@{'/images/' + ${img.imageFileName}}" alt="Property Image" class="property-image">
                        <form th:action="@{/properties/delete-image/{id}(id=${property.id})}" method="post">
                            <input type="hidden" name="imageName" th:value="${img.imageFileName}" />
                            <button type="submit" class="delete-image-button" th:attr="data-img=${img.imageFileName}">Delete</button>
                        </form>
                    </div>
                </div>
                <div class="add-form">
                    <p th:if=" ${successMessage}" class="success-message" th:text="${successMessage}"></p>
                    <p th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></p>
                    <label for="title">Title:</label>
                    <input id="title" th:field="*{title}" type="text" required/>
                    <label for="price">Price:</label>
                    <input id="price" th:field="*{price}" type="number" step="0.01" min="0" placeholder="0.00" required/>
                    <label for="location">Location:</label>
                    <input id="location" th:field="*{location}" type="text" required/>
                    <label for="size">Size (sq ft):</label>
                    <input id="size" th:field="*{size}" type="number" required/>
                    <div class="form-buttons">
                        <label for="image">Upload Image</label>
                        <input id="image" type="file" name="file" accept="image/*" multiple/>
                        <button type="submit" class="btn">Save</button>
                        <button type="reset" class="btn">Discard Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>