<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/allUsers.css}">
</head>
<body>
<header th:replace="fragments :: header(showButton=true)"></header>

<div class="container">
    <div class="header-container">
        <h1 class="dashboard-title">Manage Users</h1>
        <a th:href="@{/user/add}" class="btn">Add New Agent</a>
    </div>

    <table class="user-table">
        <thead>
        <tr>
            <th>Profile</th>
            <th>Name</th>
            <th>Role</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td class="profile-container">
                <img class="profile"
                     th:src="${user.profilePicture != null} ?
                                   @{'/profile-pictures/' + ${user.profilePicture}} :
                                   @{/images/default.jpg}"
                     alt="Profile"/>
            </td>
            <td th:text="${user.firstName + ' ' + user.lastName}">Full Name</td>
            <td th:text="${user.getRoles()[0].getName()}">Role</td>
            <td th:text="${user.email}">Email</td>
            <td>
                <form method="post" th:action="@{/user/delete/${user.email}}">
                    <input type="hidden" name="_method" value="delete" />
                    <button class="delete-btn" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>