<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <body>
        <div class="edit-profile-container">
            <div class="profile-pic-container">
                <img th:if="${user.profilePicture} != null"
                     th:src="@{${user.profilePicture}}"
                     alt="Profile"
                >
                <img th:if="${user.profilePicture == null}"
                     src="default.jpg"
                     alt="Default Profile"
                >
                <input type="file" accept="images/*">
            </div>

            <h2>Edit Profile</h2>
            <div th:if="${successMessage}" class="success">
                <p th:text="${successMessage}"></p>
            </div>
            <div th:if="${errorMessage}" class="failure">
                <p th:text="${errorMessage}"></p>
            </div>

            <form method="put" th:action="@{/profile/edit}" th:object="${user}">
                <label for="firstName">First Name</label>
                <input id="firstName" th:field="*{firstName}" type="text">
                <label for="lastName">Last Name</label>
                <input id="lastName" th:field="*{lastName}" type="text">
                <label for="email">Email</label>
                <input id="email" th:field="*{email}" type="email">
                <div class="error-message" th:if="${loginError}" th:text="${loginError}"></div>
                <button class="btn" type="submit">Save Profile</button>
                <a th:href="@{/profile}">
                    <button class="btn">Discard Changes</button>
                </a>
            </form>
        </div>
    </body>
</head>
</html>