<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" th:href="@{/css/editProfile.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
    <body>
        <header th:replace="fragments :: header(showButton=true)"></header>

        <div class="container">
            <div class="profile-pic-container">
                <img th:if="${user.profilePicture} != null"
                     th:src="@{'/profile-pictures/' + ${user.profilePicture}}"
                     alt="Profile"
                     class="profile-pic"
                >
                <img th:if="${user.profilePicture == null}"
                     th:src="@{'/images/' + 'default.jpg'}"
                     alt="Default Profile"
                     class="profile-pic"
                >
            </div>

            <h2>Edit Profile</h2>
            <div th:if="${successMessage}" class="success">
                <p th:text="${successMessage}"></p>
            </div>
            <div th:if="${errorMessage}" class="failure">
                <p th:text="${errorMessage}"></p>
            </div>

            <form method="post" th:action="@{/profile/edit}" th:object="${user}" enctype="multipart/form-data">
                <label for="firstName">First Name</label>
                <input id="firstName" th:field="*{firstName}" type="text">
                <label for="lastName">Last Name</label>
                <input id="lastName" th:field="*{lastName}" type="text">
                <label for="email">Email</label>
                <input id="email" th:field="*{email}" type="email">
                <div class="pic-upload-container">
                    <label for="profilepicture">Profile Picture</label>
                    <input id="profilepicture" type="file" name="file" accept="image/*">
                </div>
                <button class="btn" type="submit">Save Profile</button>
                <a th:href="@{/profile}" class="btn">Discard Changes</a>
            </form>
        </div>
    </body>
</html>