<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css" />
    <script>
        function togglePasswordVisibility() {
            const passwordField = document.getElementById('password');
            passwordField.type = passwordField.type === 'password' ? 'text' : 'password';
        }
    </script>
</head>
<body>
    <div th:if="${successMessage}" class="success">
        <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${errorMessage}" class="failure">
        <p th:text="${errorMessage}"></p>
    </div>

    <h2>Login</h2>
    <div th:if="${error}" class="failure">
        <p th:text="${error}"></p>
    </div>
    <form method="POST" th:action="@{/login}" th:object="${user}">
        <label for="email">Email</label>
        <input id="email" th:field="*{email}" type="text"/>
        <label for="password">Password</label>
        <input id="password" th:field="*{password}" type="password"/>
        <!-- Show Password Checkbox -->
        <div class="show-password">
            <input type="checkbox" onclick="togglePasswordVisibility()" id="passwordShow"/>
        </div>
        <!-- Error Message -->
        <div class="error-message" th:if="${loginError}" th:text="${loginError}"></div>
        <button class="btn" style="width: 200px;">Log In</button>
    </form>
    <p class="section-spacing">
        Don't have an account?
        <a th:href="@{/register}">Register</a>
    </p>

</body>
</html>