<!--Jake Waksmanski-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Listings</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/manageListings.css}" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments :: header(showButton=true)}"></header>
<div class="manage-listings-container">
    <h1>Manage Your Properties</h1>
    <div class="properties-list">
       <div th:each="property : ${properties}" class="property-card">
            <div class="property-image">
                <img th:src="@{'/images/' + ${property.propertyImages[0].imageFileName}}" alt="Property Image" class="property-img">
                <div class="card-buttons">
                    <a th:href="@{'/properties/edit/' + ${property.id}}" class="edit-button">Edit</a>
                    <form th:action="@{'/properties/delete/' + ${property.id}}" method="post" onsubmit="return confirm('Are you sure you want to delete this property?');">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                </div>
            </div>
            <div class="property-details">
                <div class="stack">
                    <h2 class="price" th:text="${'$' + property.price}">$</h2>
                    <p class="size" th:text="${property.size + ' sq ft'}">Size (sq ft)</p>
                </div>
                <div class="stack">
                    <p th:text="${property.title}">Property Title</p>
                    <p class="location" th:text="${property.location}">Location</p>
                </div>
                <div class="favorite-count">
                   <p class="count" th:text="${property.usersFavorited != null ? property.usersFavorited.size() : 0}">0</p>
                    <img src="/images/heart.png" alt="Favorites" class="heart-icon">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>