<!--Jake Waksmanski-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="fragments :: header(showButton=true)"></header>
<div class="new-listing-container">
    <h1>New Listing</h1>
    <div class="new-listing-form-container">
        <form th:action="@{/properties/new}" th:object="${property}" method="post">
            <div class="new-listing-images">
                <div th:each="img : ${property.images}" class="property-image-container">
                    <img th:src="@{'/images/' + ${img}}" alt="Property Image" class="property-img">
                    <button type="button" class="delete-image-button" 
                            th:attr="data-img=${img}">Delete</button>
                    <form th:action="@{/properties/delete-image/{id}(id=${property.id})}" method="post">
                        <input type="hidden" name="imageName" th:value="${img}" />
                    </form>
                </div>
            </div>
            <div class="new-form">
                <label for="title">Title:</label>
                <input id="title" th:field="*{title}" type="text" required/>
                <label for="price">Price:</label>
                <input id="price" th:field="*{price}" type="number" step="0.01" min="0" placeholder="0.00" required/>
                <label for="location">Location:</label>
                <input id="location" th:field="*{location}" type="text" required/>
                <label for="size">Size (sq ft):</label>
                <input id="size" th:field="*{size}" type="number" required/>
                <div class="form-buttons">
                    <label for="image">Upload Image</label>
                    <input id="image" type="file" name="file" accept="image/*"/>
                    <button type="submit" class="btn">Save</button>
                    <button type="reset" class="btn">Discard Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>