<!--Jake Waksmanski-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Properties</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/properties.css}" />
</head>
<body>
<header th:replace="fragments :: header(showButton=true)"></header>
<div class="properties-container">
    <h1 class="properties-header">
        Available Properties <span th:text="'(' + ${properties.size()} + ')'"></span>
    </h1>
    <div class="properties-list">
        <div th:each="property : ${properties}" class="property-item">
            <div class="property-image">
                <img th:src="@{'/images/' + ${property.propertyImages[0].imageFileName}}" alt="Property Img" />
            </div>
            <div class="property-info">
                <div class="property-title" th:text="${property.title}">Title</div>
                <div class="property-location" th:text="${property.location}">Address</div>
                <div class="property-size" th:text="${property.size + ' sq ft'}">Size (sq ft)</div>
            </div>
            <div>
                <div class="property-price" th:text="${property.price}">Price</div>
                <div class="property-actions">
                    <a th:href="@{'/properties/view/' + ${property.id}}" class="view-btn">View Details &rarr;</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>