<!--Jake Waksmanski-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Property Details</title>
</head>
<body>
    <header th:replace="fragments :: header(showButton=true)"></header>
    <div>
        <div>
            <div class="property-header">
                <h1 th:text="${property.title}">Address</h1>
                <button>Add to Favorites</button>
            </div>
            <p th:text="${property.description}">Description</p>
            <p>Price: <span th:text="${property.price}">$</span></p>
            <p>Location: <span th:text="${property.location}">Location</span></p>
            <p>Sq. Ft: <span th:text="${property.size}">Size (sq ft)</span></p></div>
        <form th:action="@{/messages}" method="post">
            <h2>Contact the Agent</h2>
            <input type="hidden" name="property" th:value="${property.id}" />
            <textarea name="content"></textarea>
            <button>Send</button>
        </form>
        </form>
    </div>
    <div>
        <h2>Property Images</h2>
        <div>
            <img th:each="img : ${property.propertyImages}" th:src="@{'/images/' + ${img.imageFileName}}" alt="Property Image" />
        </div>
    </div>
</body>
</html>