body {
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  background-color: #F5F5D5;
}

input {
  width: 90%;
  padding: 0.5rem;
  margin: 10px;
  text-align: left;
  border-radius: 40px;
  border: 1px solid #ccc;
  background-color: #5c724a1c;

}


.show-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin-bottom: 15px;
}

.container {
  display: flex;
  min-height: 40vh;
  text-align: center;
  flex-direction: column;
  min-width: 30%;
  margin-top: 80px;
  padding: 25px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.register-container {
  display: flex;
  min-height: 60vh;
  text-align: center;
  flex-direction: column;
  min-width: 30%;
  margin-top: 80px;
  padding: 25px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

 label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: left;
}

.pic-upload-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pic-upload-container input[type="file"] {
  border-radius: 2px;
  background-color: #5c724a1c;
}

.success {
    color: green;
    font-size: 0.95em;
    margin-bottom: 14px;
    text-align: center;
}
.failure {
    color: red;
    font-size: 0.95em;
    margin-bottom: 14px;
    text-align: center;
