body {
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  background-color: #F5F5D5;
}

.dashboard {
  min-height: 100vh;
  padding: 60px 20px;
  width: 100%;
  margin-left: 2rem;
}

.dashboard-subtitle {
  font-size: larger;
  color: #5b6453;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-style: italic;
  font-weight: lighter;
}

.card-row{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}

 .dash-num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-left: 1rem;
  border-radius: 10px;
  background-color: #ffffff;
  color: black;
 }

