:root{
    --light-beige: #F5F5D5;
    --beige: #C7B793;
    --light-green: #A3B68A;
    --green: #5C724A;
    --dark-green: #354A2F;
}

body {
    margin: 0;
}

.app-header{
    background-color: white;
    box-shadow: 0 2px 4px;
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 1rem 0;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    margin: 1rem;

}

.logo {
    height: 90px;
    width: auto;
}

.logo-text {
    font-size: 2rem;
    color: rgb(53, 74, 47);
}

.btn {
    background-color: #5c724a;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 2rem;
}

.btn:hover {
    background-color: #293421;

}

.btn.outline {
    background-color: white;
    color: #009B3C;
    border: 2px solid #009B3C;
}

.btn.outline:hover {
    background-color: #e6f7ed;
}